[Unit]
Description=scheduled_login_tradetron

[Service]
ExecStart=/usr/bin/python3 -m /home/ubuntu/bin/scheduled_login_tradetron
WorkingDirectory=/home/ubuntu/bin
Type=oneshot
