[Unit]
Description=scheduled_login_tradetron
OnFailure=notify_failed@%n

[Service]
ExecStart=/usr/bin/python3 scheduled_login_tradetron
WorkingDirectory=/home/ubuntu/bin
Type=oneshot
