[Unit]
Description=scheduled_login_tradetron credential management service
StartLimitIntervalSec=150
StartLimitBurst=1

[Service]
ExecStart=%h/opt/scheduled_login_tradetron/venv/bin/python -m app.manage_creds
WorkingDirectory=%h/opt/scheduled_login_tradetron
Type=exec
Restart=on-failure
RestartSec=120